:root {
    --orange: #ff7913;
    --green: #2C3C20;
  }

@font-face {
    font-family: AdobeGaramond;
    src: url(Resources/serif.ttf);
}

@font-face {
    font-family: Number;
    src: url(Resources/Garamond\ Light.ttf);
}

@font-face {
    font-family: MisterK;
    src: url(Resources/Mister\ K\ WXX\ Regular.otf);
}


textarea:focus, input:focus{
    outline: none;
}

html, body {
    max-width: 100vw;
    overflow-x: hidden;
}

body{
    text-align: center;
    font-family: AdobeGaramond;
    color: var(--orange);
    letter-spacing: 0.3px;
    margin: 0px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    position: relative;
    background-color: white;
    width: 100%;
}


.mobile {
    display: block;
}

.desktop {
    display: none;
}


.menu {
    width: 100%;
    height: 18vw;
    color: var(--green);
    position: relative;
    z-index: 30;
}

#logo {
    position: absolute;
    left: 50%;
    top: 64%;
    transform: translateX(-50%) translateY(-50%);
    font-family: MisterK;
    font-size: 10vw;
    width: 50%;
}

.hamburger {
    position: absolute;
    right: 0%;
    top: 56%;
    transform: translateY(-50%);
    width: 10.2%;
    padding: 6vw;
    padding-right: 4vw;
}

#menuOpen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100svh;
    background-color: var(--green);
    color: white;
    display: none;
    text-align: center;
    z-index: 20;
}

.section {
    position: absolute;
    width: 100vw;
    height: 50vh;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.sections {
    font-size: 5vw;
    width: 100vw;
    height: 10vh;
    line-height: 9vh;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.copyrights {
    position: absolute;
    width: 100vw;
    bottom: 3%;
}

a {
    text-decoration: none;
    color: inherit;
}


.copertina {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    transform: translateX(-24%);
    height: 100lvh;
    width: auto;
    transition: 1s;
    transition-timing-function: ease-out;
    background-color: white;
}

.testo {
    font-size: 5vw;
    width: 86vw;
    margin: auto;
    margin-bottom: 9vh;
    margin-top: 6vh;
}

.testo > div {
    margin-bottom: 4vw;
}


.first {
    width: 91vw;
    margin: auto;
    margin-bottom: 7vh;
    margin-top: 4vh;
}

.C {
    font-family: MisterK;
    text-align: center;
    margin: auto;
}

.piccolo {
    width: 88vw;
    font-size: 12vw;
    line-height: 0.72;
}

.medio {
    line-height: 1.8;
    font-size: 15vw;
}


.grande {
    line-height: 0.9;
    font-size: 18vw;
    margin-bottom: 15vh;
}

.luogo {
    font-size: 4.8vw;
    text-align: center;
    margin: auto;
    margin-bottom: 12vh;
}

.line {
    border-top: 1px solid var(--orange);
    width: 25vw;
    margin: auto;
    margin-bottom: 12vh;
}

#last {
    width: 100vw;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 10;
}

#lastD {
    width: 100vw;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 10;
}

.space {
    margin-bottom: 24vh;
}


@media only screen and (min-width: 768px) {
    .mobile {
        display: none;
    }

    .desktop {
        display: block;
    }

    .copertina {
        object-fit: cover;
        transform: translateX(0%);
        height: auto;
        width: 100vw;
        min-height: 100vh;
    }

    .menu {
        width: 100%;
        height: 5.8vw;
        color: var(--green);
        position: relative;
        z-index: 30;
    }
    
    #logo {
        top: 60%;
        font-size: 3vw;
    }
    
    .hamburger {
        right: 0%;
        top: 52%;
        width: 2.7%;
        padding: 1vw;
        padding-right: 1.5vw;
        cursor: pointer;
    }
    
    .sections {
        font-size: 1.36vw;
    }
    
    .copyrights {
        bottom: 1.8vw;
    }

    .first {
        width: 43vh;
        margin: auto;
        margin-bottom: 8.5vh;
        margin-top: 4vh;
    }

    .piccolo {
        width: 32vw;
        font-size: 3.6vw;
        line-height: 0.64;
    }
    
    .medio {
        line-height: 1.8;
        font-size: 4.8vw;
    }
    
    .grande {
        line-height: 0.9;
        font-size: 5.6vw;
        margin-bottom: 15vh;
    }
    
    .luogo {
        font-size: 1.36vw;
        text-align: center;
        margin: auto;
        margin-bottom: 15vh;
    }

    .line {
        border-top: 1px solid var(--orange);
        width: 10vw;
        margin: auto;
        margin-bottom: 15vh;
    }

    .testo {
        font-size: 1.36vw;
        width: 31vw;
        margin: auto;
        margin-bottom: 18vh;
        margin-top: 9vh;
    }
    
    .testo > div {
        margin-bottom: 1.5vw;
    }

    .space {
        margin-bottom: 57vh;
    }

  }


